<div class='section contest-new'>
	  <h1 class='text-align-center title-on-page'>Создать новый вопрос</h1>
	  <%= simple_form_for(@task, url: tasks_path, html: { class: 'form-vertical' }) do |f| %>
	  	<%= f.input :contest_id, label: "1-матем, 2-рус, 3-ангб 4-инф", input_html: { placeholder: 'id олимпиады' } %>
	  	<%= f.input :classroom, label: false, input_html: { placeholder: 'Класс' } %>
	    <%= f.input :text, label: false, input_html: { placeholder: 'Текст вопроса' } %>
	    <%= f.input :var1, label: false, input_html: { placeholder: 'Вар 1' } %>
	    <%= f.input :var2, label: false, input_html: { placeholder: 'Вар 2' } %>
	    <%= f.input :var3, label: false, input_html: { placeholder: 'Вар 3' } %>
	    <%= f.input :var4, label: false, input_html: { placeholder: 'Вар 4' } %>
	    <%= f.input :answer, label: false, input_html: { placeholder: 'Ответ' } %>
	    <%= f.input :image, label: false,  input_html: { placeholder: 'Изображение (ссылка)' } %>

	    <%= f.button :submit, "Добавить вопрос", class: 'btn btn-our btn-our-blue' %>
	  <% end %>
		<div class='clearboth'>
		</div>
</div>