<% 
	if @reward.prize == 0
		prize = "Участник"
	else
		prize = @reward.prize.to_s + " место"
	end 
%>
<% if @reward.contest_id == 1
      subject = "по русскому языку"
    elsif @reward.contest_id == 2
      subject = "по математике"
    elsif @reward.contest_id == 3
      subject = "по окружающему миру"
    elsif @reward.contest_id == 4
      subject = "по литературе"
    end %>
<div class='slide slide-reward'>
	<% if !@reward.paid %>
		<div class='pinpen'></div>
		<div class='reward-data'>
			<img src='/diploma_samples/<%=@reward.number%>.jpg' />
			<div class='participant'>
				<h1><%= prize %></h1>
				<h2><%= @reward.name %></h2>
				<h3><%= subject %></h3>
			</div>
			<div class='clearboth'></div>
		</div>
		<h4 class='mbm'>Диплом станет доступен для скачивания в течение 12 часов после оплаты</h4>
		<a id='buy-diploma' class='btn btn-our btn-our-green'>Приобрести этот диплом за 100 рублей</a>
		<div class='payment-form'>
			<h3>1. Скачайте квитанцию <a target='_blank' href='http://joy-olympic.ru/_receipt.jpg'><b>ЗДЕСЬ</b></a></h3>
			<h3>2. Оплатите через банк</h3>
			<h3>3. Загрузите оплаченную квитанцию на почту <b>centerAurum@yandex.ru</b> с указанием номера диплома. Номер этого диплома <b><%= @reward.id %></b>.</h3>	
		</div>
	<% else %>
		<div class='col-3of6 ma mtl img-diploma'>
			<h1><%= prize %></h1>
			<img src='<%= @output_diploma %>' width='100%' />
		</div>
	<% end %>
</div>