<% 
	if @reward.prize == 0
		prize = "Участник"
	else
		prize = @reward.prize.to_s + " место"
	end 
%>
<% if @reward.contest_id == 1
      subject = "по русскому языку"
    elsif @reward.contest_id == 2
      subject = "по математике"
    elsif @reward.contest_id == 3
      subject = "по окружающему миру"
    elsif @reward.contest_id == 4
      subject = "по литературе"
    end %>
<div class='slide slide-reward'>
	<% if !@reward.paid %>
		<div class='pinpen'></div>
		<div class='reward-data'>
			<img src='/diploma_samples/<%=@reward.number%>.jpg' />
			<div class='participant'>
				<h1><%= prize %></h1>
				<h2><%= @reward.name %></h2>
				<h3><%= subject %></h3>
			</div>
			<div class='clearboth'></div>
		</div>
		<h4 class='mbm'>Диплом станет доступен для скачивания в течение 12 часов после оплаты</h4>
		<a id='buy-diploma' class='btn btn-our btn-our-green'>Приобрести этот диплом за 100 рублей</a>
		<div class='payment-form'>
			<form action='https://money.yandex.ru/eshop.xml' method='post'>
					<input required name='shopId' value='50046' type='hidden'/>
					<input required name='scid' value='34157' type='hidden'/>
					<input required name='sum' value='100' type='hidden'><br>
					<input required name='customerNumber' value='<%=@reward.id%>' size='64' type='hidden'/><br>
								
					<label>Ваш Email:</label><br>	
					<input class='custEmail' name='custEmail' value='' size='64' type='text'/><br><br>
					
					<label>Ваше ФИО:</label><br>
					<input class='custName' name='custName' value='' size='64' type='text'/><br>

					
					<input class='ym_merchant_receipt' name='ym_merchant_receipt' value='{\"customerContact\":
\"onlineyageniy@yandex.ru\",\"taxSystem\": 2, \"items\": [{\"quantity\": 1,\"price\": {\"amount\": 100.00},\"tax\": 1,\"text\": \"Услуги по обработке данных\", \"payment_method\": \"full_prepayment\", \"payment_object\": \"payment\"}]}' type="hidden"/>
					<br>
					<input id='getpay' class='btn btn-our btn-our-green' type='submit' value='Оплатить' disabled='disabled'>	
			</form>
		</div>
	<% else %>
		<div class='col-3of6 ma mtl img-diploma'>
			<h1><%= prize %></h1>
			<img src='<%= @output_diploma %>' width='100%' />
		</div>
	<% end %>
</div>